@media (min-width: 768px) {
    /* Center header elements */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 50px;
    }

    /* Navigation styles */
    #hamburger-menu {
        display: none;
    }

    nav ul {
        justify-content: flex-end;
    }

    /* Hero section */
    .hero-text {
        font-size: 1.5rem;
        padding: 30px;
    }

    /* Main content layout */
    .events, .weather-card, .spotlights {
        max-width: 80%;
    }

    /* Spotlight Grid for Desktop */
    .spotlight-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .spotlight-item {
        padding: 20px;
    }
    .footer-container {
        text-align: center;
    }
    
    .inline-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px; /* Adjust spacing */
        flex-wrap: wrap;
    }
    
    .inline-content p {
        display: flex;
        align-items: center;
        gap: 5px; /* Adjust spacing */
        margin: 0;
    }
    
    .ball, .flag {
        width: 20px; /* Adjust size */
        height: auto;
    }
    
    #lastModified {
        margin-top: 10px; /* Adjust spacing below */
        text-align: center;
    }

}
