@media (min-width: 768px) {
    .footer-content {
      flex-direction: row;
      justify-content: center;
      gap: 15px;
    }
  
    #lastModified {
      order: 1;
    }
  
    .spotlight-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  
    .spotlight-item {
      padding: 20px;
    }
  
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 50px;
    }
  
    #hamburger-menu {
      display: none;
    }
  
    #main-nav {
      display: block !important;
      position: static;
      flex-direction: row;
    }
  
    #main-nav ul {
      flex-direction: row;
      justify-content: flex-end;
      gap: 15px;
    }
  
    /* Discover Page Grid Layout */
    .discover-page main {
      grid-template-columns: 1fr 3fr;
      align-items: start;
    }
  
    .discover-page .gallery img:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }
    .weather-wrapper {
      flex-direction: row;
    }
    
    #forecast-list {
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }
    
    #forecast-list li {
      flex: 1;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
